#!/usr/bin/make -f


CARGO ?= cargo
RONN ?= ronn

OUTDIR = $(CURDIR)/debian/termimage/
VERSION = $(shell awk '/^version/ {print $$3; exit}' Cargo.toml | sed 's/"//g')


override_dh_auto_build:
	$(RONN) --organization="termimage developers" termimage.md
	RUSTFLAGS=-g $(CARGO) build --release

override_dh_auto_install:
	mkdir -p $(OUTDIR)usr/bin $(OUTDIR)usr/share/man/man1 $(OUTDIR)usr/share/doc/termimage
	cp target/release/termimage $(OUTDIR)usr/bin/
	cat termimage.1 | gzip -9 > $(OUTDIR)usr/share/man/man1/termimage.1.gz
	cat README.md | gzip -9 > $(OUTDIR)usr/share/doc/termimage/README.md.gz
	cat debian/changelog.upstream | gzip -9 > $(OUTDIR)usr/share/doc/termimage/changelog.gz

%:
	dh $@
